{% extends 'archive/base.html' %}

{% block title%}Login - BFD9000{% endblock %}

    {%block body_style %}
    display: flex;
    justify-content: center;
    align-items: center
    {% endblock %}

{% block body %}
    <div class="card bg-base-100 w-96 p-8 shadow-sm">
        <div class="text-center mb-8">
            <h1 class="text-3xl font-bold mb-2">BFD9000</h1>
            <p>Please sign in to continue</p>
        </div>

        {% if next %}
            {% if user.is_authenticated %}
            <div role="alert" class="alert alert-info alert-soft">
              <span>Your account doesn't have access to this page. To proceed, please login with an account that has access.</span>
            </div>
            {% endif %}
        {% endif %}

        <div class="cas-login mb-4">
            <a href="{% url 'cas_ng_login' %}{% if next %}?next={{ next }}{% endif %}" class="btn btn-primary w-full mt-4 flex items-center justify-center text-center">
                Sign In with Case ID
            </a>
        </div>
    </div>
{% endblock %}
